html,
#map {
  height: 100%;
}

body {
  min-height: 100%;
  height: auto;
}

#map {
  position: fixed;
  height: 100%;
  left: 0;
  right: 310px;
  z-index: 1;
  background: #1c2b5c;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

#map-filter {
  position: fixed;
  bottom: 25px;
  right: 330px;
}

#administration-pane {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 300px;
  z-index: 0;
}

body.show-admin #administration-pane {
  right: 0;
}

#administration-pane,
#content-pane {
  width: 300px;
}

#content-pane {
  float: right;
}

#administration-pane > *,
#content-pane > * {
  margin-top: 20px;
  padding: 0 20px;
}

.site-head {
  position: fixed;
  top: 20px;
  right: 310px;
  width: auto !important;
  z-index: 10;
}