/* TYPOGRAPHIC ELEMENTS ---------------- */
.title {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px 3px #400000;
}


/* INTERACTIVENESS ---------------- */
/* Base button class */
#administration-pane #user-login-form a,
#administration-pane nav a,
input[type="submit"],
.pager .current,
.pager .ellipsis,
.pager a,
.tabs a,
.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  background: #400000;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  border: 5px solid #400000;
  font-size: inherit;
  font-family: inherit;
  line-height: 1em;
}

/* Button active class */
#administration-pane #user-login-form a:focus,
#administration-pane #user-login-form a:hover,
#administration-pane nav a:focus,
#administration-pane nav a:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.tabs .active a,
.pager .current,
.pager a:hover,
.pager a:focus,
.tabs a:hover,
.tabs a:focus,
.button:hover,
.button:focus {
  color: #fff;
  background: #f00;
  border-color: #f00;
  cursor: pointer;
}

/* Dark buttons */
#administration-pane #user-login-form a,
#administration-pane input[type="submit"],
#administration-pane nav a,
.button.dark {
  background: #000;
  border-color: #000;
}

#administration-pane #user-login-form a:hover,
#administration-pane #user-login-form a:focus,
#administration-pane input[type="submit"]:hover,
#administration-pane input[type="submit"]:focus,
#administration-pane nav a:hover,
#administration-pane nav a:focus,
.button.dark:hover,
.button.dark:focus {
  background: #222;
  border-color: #222;
}


/* ODDITIES ---------------- */
.element-invisible {
  display: none;
}

#colorbox,
#cboxWrapper {
  overflow: visible;
}

#cboxNext {
  right: -5px;
}

#cboxOverlay {
  background: #fff;
}