/* General */
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  background-attachment: fixed;
  background: rgb(51,51,51);
  background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(34,34,34,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(34,34,34,1)));
  background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 100%);
  background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 100%);
  background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 100%);
  background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 );
}

a {
  color: #400000;
  text-decoration: none;
}

a:focus,
a:hover {
  outline: 0;
  color: #f00;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3em;
}

form > div {
  margin-top: 1em;
}

form > div:first-child {
  margin-top: 0;
}


/* Content pane */
#content-pane .gallery {
  font-size: 0;
}

#content-pane .image {
  display: inline-block;
  margin: 10px 10px 0 0;
}

#content-pane .image:nth-child(1),
#content-pane .image:nth-child(2) {
  margin-top: 0;
}

#content-pane .image a {
  display: block;
  border: 10px solid #400000;
  border-radius: 5px;
}

#content-pane .image a:hover {
  border-color: #f00;
}

#content-pane .image img {
  vertical-align: top;
}

#content-pane .map-legend {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

#content-pane .map-legend li {
  background: transparent url('../img/marker-heart.png') left top no-repeat;
  padding-left: 50px;
  min-height: 60px;
  line-height: 41px;
}

#content-pane .map-legend .not-documented {
  background-image: url('../img/marker-snow.png');
}

#content-pane .map-legend .not-visited {
  background-image: url('../img/marker-stop.png');
}

/* Site head */
.site-head a {
  margin-top: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.site-name a {
  margin-top: 0;
}

.tabs li {
  text-align: right;
}