/* General */
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  background-attachment: fixed;
  background: rgb(51,51,51);
  background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(34,34,34,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(34,34,34,1)));
  background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 100%);
  background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 100%);
  background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 100%);
  background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(34,34,34,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 );
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

a:focus,
a:hover {
  outline: 0;
  border-bottom-color: #f00;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3em;
}

form > div {
  margin-top: 1em;
}

form > div:first-child {
  margin-top: 0;
}

input[type="text"],
input[type="password"] {
  padding: 10px 25px;
  border: 1px solid #000;
  color: #000;
  font-size: inherit;
  font-family: inherit;
  line-height: 1em;
  border-radius: 5px;
  background: #fff;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: 0;
  background: #C9CE90;
}


/* Administration pane */
#administration-pane > .admin-toggle,
#administration-pane {
  background: #400000;
}

#administration-pane > .admin-toggle:last-child {
  position: fixed;
  width: 10px;
  top: 0;
  bottom: 0;
  right: 300px;
  margin-top: 0;
  border-bottom: 0;
}

#administration-pane > .admin-toggle:last-child:hover,
#administration-pane > .admin-toggle:last-child:focus {
  background: #f00;
}

#administration-pane nav a {
  margin-top: 5px;
}

#administration-pane nav li:first-child a {
  margin-top: 0;
}

#administration-pane nav a[href="/user"] {
  margin-top: 20px;
}

#administration-pane #user-login-form .item-list {
  margin-top: 5px;
}

#administration-pane a {
  display: block !important;
  text-align: center;
}

#administration-pane input[type="text"],
#administration-pane input[type="password"] {
  width: 208px;
}

#administration-pane input[type="submit"] {
  width: 100%;
}


/* Content pane */
#content-pane .gallery {
  font-size: 0;
}

#content-pane .image {
  display: inline-block;
  margin: 10px 10px 0 0;
}

#content-pane .image:nth-child(1),
#content-pane .image:nth-child(2) {
  margin-top: 0;
}

#content-pane .image a {
  display: block;
  border: 10px solid #400000;
  border-radius: 5px;
}

#content-pane .image a:hover {
  border-color: #f00;
}

#content-pane .image img {
  vertical-align: top;
}

#content-pane .map-legend {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

#content-pane .map-legend li {
  background: transparent url('../img/marker-undefined-camera.png') left top no-repeat;
  padding-left: 50px;
  min-height: 60px;
  line-height: 41px;
}

#content-pane .map-legend .not-documented {
  background-image: url('../img/marker-undefined-plane.png');
}

#content-pane .map-legend .not-visited {
  background-image: url('../img/marker-undefined-no.png');
}


/* Site head */
.site-head a {
  margin-top: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.site-name a {
  margin-top: 0;
}

.tabs li {
  text-align: right;
}


/* Filter */
#map-filter a {
  margin-top: 5px;
}

/* Johannes */
.filter-button[data-user="11"] {
  border-color: #510f46 !important;
}

.filter-button[data-user="11"] span {
  background: #510f46;
}

.filter-button[data-user="11"]:hover,
.filter-button[data-user="11"]:focus {
  border-color: #8a1d7c !important;
}

.filter-button[data-user="11"]:hover span,
.filter-button[data-user="11"]:focus span {
  background: #8a1d7c;
}